/*===========
Contact css
=============*/
main {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.container {
  box-shadow: 55px 55px 55px 55px #474646;
  background-color: white;
  width: 450px;
  border-radius: 15px;

  box-shadow: 1px 1px 1px 1px rgb(247, 227, 227);
}
.form_section {
  padding: 50px;
}
.form_section h1 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}
h1 span {
  color: var(--color);
}

.form_section button {
  width: 100%;
  padding: 7px 0;
  font-size: 15px;
  background-color: rgba(36, 36, 245, 0.862);
  border-radius: 10px;
  color: white;
  border: none;
}
.form_section form input,
textarea {
  /* display: flex; */
  width: 100%;
  padding: 10px;

  font-weight: 650;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px #a19f9f;
  margin: 0.75rem 0;
  text-transform: capitalize;
}
@media (max-width: 1000px) {
  body {
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .nav_bar div a {
    padding: 0;
  }
}
