@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #181818;
  --color: #1078d4ad;
  --white: #fff;
  --black: black;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  padding: 20px 50px 50px 50px;
  justify-content: center;
  display: flex;
}

h1 {
  color: var(--white);
  font-size: 2rem;
}
h1:nth-child(1) {
  border-bottom: 5px solid #09080b;
}
h2,
h3 {
  color: var(--white);
  font-size: 1.2rem;
}
.team {
  width: 50%;

  text-align: center;
  padding: 10px;
  background-color: #988585;
  border-radius: 2px;
}
@media (max-width: 900px) {
  .team {
    width: 100%;
  }
}
